html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}
.grass, .sky, .road{
	position: relative;
}
.sky{
	height: 40%;
	background-color: skyblue;
}
.grass{
	height: 30%;
	background-color: seagreen;
}
.road{
	height: 30%;
	background: white;
	box-sizing: border-box;
	border-top: 10px solid grey;
	border-bottom: 10px solid grey;
	width: 100%;
}
.time{
	box-sizing: border-box;
	border: 5px dashed black;
	height: 0px;
	width: 100%;
	position: absolute;
	top: 50%;
}
.mario{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0px;
	left: 0px;
/*	animation-name: drive;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: linear;*/
	animation: 	drive 3s both infinite linear,
			    jump 0.3s 1.5s ease;
}
.mario2{
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 10px;

	left: 0px;
	animation-name: drive;
	animation-duration: 5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-direction: linear;
}
.cloud{
	position: absolute;
}
.cloud:nth-child(1){
	width: 400px;
	top: 0px;
	animation: wind 50s linear infinite reverse;
}
.cloud:nth-child(2){
	width: 300px;
	top: 120px;
	opacity: 0.5;
	animation: wind 80s linear infinite reverse;
}
.cloud:nth-child(3){
	width: 35px;
	top: 100px;
	animation: wind 120s linear infinite reverse;
}
.cloud:nth-child(4){
	width: 200px;
	top: 50px;
	animation: wind 50s linear infinite reverse;
}
@keyframes drive{
	from{transform: translateX(-200px);}
	to{transform: translateX(1400px);}
}
@keyframes wind{
	from{left: -200px;}
	to{left: 100%;}
}
@keyframes jump{
	0%{top: -40px}
	50%{top: -100px}
	100%{top: -40px}
}